@CHARSET "UTF-8";
/*
 * style.css
 */
body {
  background: #000000 !important;
}
img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

form {
	color: #ffffff;
	margin: auto; 
	display: block;
	width: 30%;
}

h3{
	color: #ffffff !important;
}